.LayoutColumns {
  display: grid;
  grid-auto-flow: column;
  gap: var(--layout-gap-wide);
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-flow: dense;
}

.Column {
  container-type: inline-size;
}
