.skiplink {
  background: var(--color-feedback-link);
  border: none;
  color: var(--color-grayscale-gray6);
  font-weight: 700;
  left: 50vw;
  outline: none;
  padding: var(--spacing-baseline);
  position: absolute;
  top: 0;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 0.3s;
  z-index: 100;
}

.skiplink:focus-visible,
.skiplink:focus {
  outline-offset: 0;
  outline: 3px solid var(--color-feedback-link_hover);
  transform: translateX(-50%) translateY(0);
}

.header {
  align-items: end;
  background-color: var(--main-bg-color);
  border-bottom: 2px dashed light-dark(var(--color-grayscale-gray5), var(--color-grayscale-gray2));
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  height: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  margin-top: calc(var(--spacing-3) * -1);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-3);
  position: relative;
  z-index: 1;
}


