.typeDisplay {
  composes: typeDisplay from '../../global/typography.module.css';
}

.menuLink {
  composes: menuLink from '../../global/links.module.css';
}

.skiplink {
  background: var(--color-feedback-link);
  border: none;
  color: var(--color-grayscale-gray6);
  font-weight: 700;
  left: 50vw;
  outline: none;
  padding: var(--spacing-baseline);
  position: absolute;
  top: 0;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 0.3s;
  z-index: 100;
}

.skiplink:focus-visible,
.skiplink:focus {
  outline-offset: 0;
  outline: 3px solid var(--color-feedback-link_hover);
  transform: translateX(-50%) translateY(0);
}

.header {
  align-items: end;
  background-color: var(--main-bg-color);
  border-bottom: 2px dashed var(--color-grayscale-gray5);
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  margin-bottom: var(--spacing-6);
  margin-top: calc(var(--spacing-3) * -1);
  padding-bottom: var(--spacing-1-5);
  padding-top: var(--spacing-3);
  position: relative;
  z-index: 1;
  min-height: var(--spacing-12);
}

.banner {
  composes: typeDisplay;
  align-content: center;
  display: grid;
  gap: var(--spacing-0-5);
  height: auto;
  width: fit-content;
}

.gwendy {
  composes: menuLink;
  display: block;
}

.tcd {
  composes: menuLink;
  display: block;
}
