.FigureGallery {
  display: grid;
  column-gap: var(--spacing-4);
  row-gap: var(--spacing-2);
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  align-items: start;
  margin-block-start: var(--spacing-4);
  margin-block-end: var(--spacing-4);
  justify-content: center;
}
