.FigureGallery {
  align-items: start;
  column-gap: var(--spacing-4);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  margin-block-end: var(--spacing-4);
  margin-block-start: var(--spacing-4);
  row-gap: var(--spacing-2);
}
