.DecoratedHeading {
  --color-background: var(--color-accent-5);
  --color-text: var(--main-text-color);
  --color-shadow: var(--main-bg-color);
  color: var(--color-text);
  text-decoration-skip-ink: none;
  text-decoration: underline solid .75em var(--color-background);
  text-shadow: 0.08em 0.08em var(--color-shadow);
  text-underline-offset: -1.75rem;
}
