.menuLink {
  composes: menuLink from '../../global/links.module.css'
}

.drawer {
  position: absolute;
  left: 0;
  background: var(--color-grayscale-gray6);
  width: calc(100vw - var(--spacing-4));
  height: 3em;
  padding: var(--spacing-2);
  margin: 0 var(--spacing-2);
  display: flex;
  align-items: center;
  transition: top 0.3s;
  z-index: -1;
  display: flex;
  justify-content: end;
}
.drawerOpen {
  composes: drawer;
  top: 72px;
}
.drawerClosed {
  composes: drawer;
  top: var(--spacing-2);
}

.menuButton {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}
.menuButton::after {
  background-image: url('images/menu.svg');
  color: var(--main-bg-color);
  content: '.';
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  margin: var(--spacing-baseline);
  visibility: visible;
  width: 40px;
}
.menuButton:hover::after {
  background-image: url('images/menu-hover.svg');
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: fit-content;

  /*  */
  font-family: var(--type-display);
  font-weight: 700;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

/* .menuOpen {
  composes: menu;
} */

@media (min-width: 632px) {
  .menu {
    justify-self: end;
  }
}

.menuItem {
  padding: 0 var(--spacing-baseline);
}

.menuItem:first-child {
  padding-left: 0;
}
.menuItem:last-child {
  padding-right: 0;
}
