.typeBasic {
  composes: typeBasic from '../../global/typography.module.css'
}

.menuLink {
  composes: typeBasic;
  color: var(--color-grayscale-black);
  text-underline-offset: 2px;
  font-weight: 600;
}
.menuLink:hover {
  color: var(--color-grayscale-gray3);
}

.drawer {
  align-items: center;
  background: var(--color-grayscale-gray6);
  display: flex;
  display: flex;
  justify-content: flex-end;
  left: 0;
  margin: 0 var(--spacing-3);
  min-height: 3em;
  padding: var(--spacing-2);
  position: absolute;
  transition: top 0.3s;
  width: calc(100vw - var(--spacing-6));
}
.drawerOpen {
  composes: drawer;
  top: var(--spacing-12);
}
.drawerClosed {
  composes: drawer;
  top: 0;
}

.menuButton {
  position: absolute;
  right: var(--spacing-2);
  top: var(--spacing-2);
  visibility: hidden;
  z-index: 2;
}
.menuButton::after {
  background-image: url('images/menu.svg');
  color: var(--main-bg-color);
  content: '.';
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 40px;
  margin: var(--spacing-baseline);
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  width: 40px;
}
.menuButton:hover::after {
  background-image: url('images/menu-hover.svg');
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--type-display-font-family);
  font-weight: 700;
  letter-spacing: -0.5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.menuItem {
  padding: 0 var(--spacing-baseline);
}

@media (min-width: 360px) {
  .menu {
    flex-direction: row;
    text-transform: uppercase;
    width: fit-content;
    justify-self: flex-end;
  }
  .menuItem:first-child {
    padding-left: 0;
  }
  .menuItem:last-child {
    padding-right: 0;
  }
}
