.typeBasic {
  composes: typeBasic from '../../global/typography.module.css';
  letter-spacing: 0.75px;
}

.menuLink {
  composes: typeBasic;
  color: light-dark(var(--color-grayscale-black), var(--color-grayscale-white));
  text-underline-offset: 2px;
}
.menuLink:hover {
  color: light-dark(var(--color-grayscale-gray3), var(--color-grayscale-gray4));
}

.drawer {
  align-items: center;
  background: light-dark(var(--color-grayscale-gray6), var(--color-grayscale-gray2));
  display: flex;
  display: flex;
  justify-content: flex-end;
  left: 0;
  margin: 0 var(--spacing-3);
  min-height: 3em;
  padding: var(--spacing-2);
  position: absolute;
  transition: top 0.3s;
  width: calc(100vw - var(--spacing-6));
}
.drawerOpen {
  composes: drawer;
  top: var(--spacing-12);
}
.drawerClosed {
  composes: drawer;
  top: 0;
}

.menuButton {
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: var(--spacing-2);
  top: var(--spacing-2);
  width: 40px;
  z-index: 2;
}

.menuButton path {
  fill: var(--main-text-color);
}

.menuButton:hover path {
  fill: light-dark(var(--color-grayscale-gray3), var(--color-grayscale-gray4));
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--type-display-font-family);
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.menuItem {
  padding: 0 var(--spacing-baseline);
}

@media (min-width: 360px) {
  .menu {
    flex-direction: row;
    justify-self: flex-end;
    text-transform: uppercase;
    width: fit-content;
  }
  .menuItem:first-child {
    padding-left: 0;
  }
  .menuItem:last-child {
    padding-right: 0;
  }
}

@media (min-width: 641px) {
  .menu {
    max-width: 14em;
  }
}

@media (min-width: 780px) {
  .menu {
    max-width: unset;
  }
}
