.headingDefaults {
  font-family: var(--type-display-font-family);
  font-style: var(--type-display-font-style);
  font-variation-settings: var(--type-display-font-variation-settings);
  font-weight: var(--type-display-font-base-weight);
}

.headingOneTwo {
  composes: headingDefaults;
  margin-block-end: var(--spacing-3);
  margin-block-start: var(--spacing-3);
}

.headingThreeThroughSix {
  composes: headingDefaults;
  margin-block-end: var(--spacing-2);
  margin-block-start: var(--spacing-2);
}

.leadIn {
  font-size: var(--type-scale-3);
  line-height: var(--line-height-3);
}

.leadInColor {
  composes: leadIn;
  color: var(--color-accent-8);
  font-weight: 700;
}
