.figure {
  display: flex;
  margin-block-end: unset;
  margin-block-start: unset;
  margin-inline-end: unset;
  margin-inline-start: unset;
  padding: var(--spacing-baseline);
  width: fit-content;
}

.bottomBorder {
  composes: figure;
  border-bottom: 1px solid
    light-dark(var(--color-grayscale-gray6), var(--color-grayscale-black));
}

@container (min-width: 924px) {
  .centerFigure {
    composes: figure;
    margin-left: auto;
    margin-right: auto;
  }
}

.imageFirst {
  composes: figure;
  flex-direction: column;
}

.captionFirst {
  composes: figure;
  flex-direction: column-reverse;
}

.circleCrop {
  border-radius: 50%;
}

.grayScale {
  filter: grayscale(1) contrast(1.25);
}

.figCaption {
  color: light-dark(var(--color-grayscale-gray2), var(--color-grayscale-gray5));
}

.img {
  box-shadow:
    2px 2px 8px
      light-dark(var(--color-grayscale-gray5), var(--color-grayscale-gray1)),
    -2px -2px 8px
      light-dark(var(--color-grayscale-gray5), var(--color-grayscale-gray1));
  height: unset;
}

.dialog {
  padding: var(--spacing-2);
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(
    var(--color-grayscale-gray3),
    var(--color-grayscale-gray2)
  );
  position: relative;
}

.dialogImage {
  border: 1px solid
    light-dark(var(--color-grayscale-gray5), var(--color-grayscale-gray2));
  height: unset;
}

.dialogClose {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 2px;
  z-index: 2;
  background-color: transparent;
  border: none;
}

.dialogCloseButton {
  height: 40px;
  width: 40px;
}

.dialogCloseButton circle {
  fill: light-dark(var(--color-grayscale-gray1), var(--color-grayscale-gray3));
}

.dialogCloseButton path {
  fill: light-dark(var(--color-grayscale-white), var(--color-grayscale-black));
}

/* only Safari needs this */
@supports not (color: light-dark(red, pink)) {
  .bottomBorder {
    border-bottom: 1px solid var(--color-grayscale-gray6);
  }

  .figCaption {
    color: var(--color-grayscale-gray2);
  }

  .img {
    box-shadow:
      2px 2px 8px var(--color-grayscale-gray5),
      -2px -2px 8px var(--color-grayscale-gray5);
  }

  .dialog {
    border-color: var(--color-grayscale-gray3);
  }

  .dialogImage {
    border-color: var(--color-grayscale-gray5);
  }

  .dialogCloseButton circle {
    fill: var(--color-grayscale-gray1);
  }

  .dialogCloseButton path {
    fill: var(--color-grayscale-white);
  }

  @media (prefers-color-scheme: dark) {
    .bottomBorder {
      border-bottom: 1px solid var(--color-grayscale-black);
    }

    .figCaption {
      color: var(--color-grayscale-gray5);
    }

    .img {
      box-shadow:
        2px 2px 8px var(--color-grayscale-gray1),
        -2px -2px 8px var(--color-grayscale-gray1);
    }

    .dialog {
      border-color: var(--color-grayscale-gray2);
    }

    .dialogImage {
      border-color: var(--color-grayscale-gray2);
    }

    .dialogCloseButton circle {
      fill: var(--color-grayscale-gray3);
    }

    .dialogCloseButton path {
      fill: var(--color-grayscale-black);
    }
  }
}
