:root {
  --main-bg-color: rgb(255, 255, 255);

  --type-text: "gill-sans-nova", Verdana, Arial, -apple-system, sans-serif;
  --type-text-font-optical-sizing: auto;
  --type-text-font-base-weight: 400;
  --type-text-font-style: normal;

  --type-display: "gill-sans-nova-shadowed-outl", Verdana, Arial, -apple-system, sans-serif;
  --type-display-font-base-weight: 400;
  --type-display-font-style: normal;
  --type-display-font-variation-settings: "liga", "salt";

  --test-sidebar-color: rgb(222, 222, 222);
  --test-grid-color: rgba(0, 213, 255, 0.5);

  --color-section-accessibility: rgba(0, 128, 111, 1);
  --color-section-brand_expression: rgba(245, 71, 77, 1);
  --color-section-components: rgba(125, 79, 248, 1);
  --color-section-teams: rgba(35, 113, 231, 1);
  --color-section-resources: rgba(255, 114, 71, 1);
  --color-section-verso: rgba(0, 70, 118, 1);
  --color-home-section-verso: rgba(1, 36, 63, 1);

  --color-feedback-link: rgba(0, 127, 173, 1);
  --color-feedback-link_hover: rgba(8, 96, 128, 1);
  --color-feedback-positive: rgba(0, 136, 88, 1);
  --color-feedback-negative: rgba(192, 0, 58, 1);
  --color-feedback-warning: rgba(204, 134, 12, 1);
  --color-feedback-warning: rgba(204, 134, 12, 1);

  --color-accent-1: rgba(0, 127, 173, 1);
  --color-accent-2: rgba(255, 71, 99, 1);
  --color-accent-3: rgba(0, 70, 117, 1);
  --color-accent-4: rgba(255, 221, 74, 1);
  --color-accent-5: rgba(126, 78, 249, 1);
  --color-accent-6: rgba(0, 255, 195, 1);
  --color-accent-7: rgba(240, 92, 51, 1);
  --color-accent-8: rgba(254, 180, 183, 1);

  --color-accent-light-1: rgba(0, 127, 173, 1);
  --color-accent-light-2: rgba(178, 0, 45, 1);
  --color-accent-light-3: rgba(0, 70, 117, 1);
  --color-accent-light-4: rgba(152, 94, 31, 1);
  --color-accent-light-5: rgba(126, 78, 249, 1);
  --color-accent-light-6: rgba(0, 168, 115, 1);
  --color-accent-light-7: rgba(240, 92, 51, 1);
  --color-accent-light-8: rgba(197, 129, 134, 1);

  --color-grayscale-black: rgba(0, 0, 0, 1);
  --color-grayscale-gray1: rgba(51, 51, 51, 1);
  --color-grayscale-gray2: rgba(102, 102, 102, 1);
  --color-grayscale-gray3: rgba(153, 153, 153, 1);
  --color-grayscale-gray4: rgba(186, 186, 186, 1);
  --color-grayscale-gray5: rgba(222, 222, 222, 1);
  --color-grayscale-gray6: rgba(247, 247, 247, 1);
  --color-grayscale-white: rgba(255, 255, 255, 1);

  --color-transparent-black: rgba(0, 0, 0, 0);
  --color-transparent-black-40: rgba(0, 0, 0, 0.4);
  --color-transparent-white: rgba(255, 255, 255, 0);

  --spacing-0-5: 4px;
  --spacing-baseline: 8px;
  --spacing-1-5: 12px;
  --spacing-2: 16px;
  --spacing-2-5: 20px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;
  --spacing-11: 88px;
  --spacing-12: 96px;

  --type-scale-seed: var(--spacing-2);
  --type-scale-multiplier: 1.2;
  --type-scale-1: var(--type-scale-seed);
  --type-scale-2: calc(
    var(--type-scale-seed) * pow(var(--type-scale-multiplier), 1)
  );
  --type-scale-3: calc(
    var(--type-scale-seed) * pow(var(--type-scale-multiplier), 2)
  );
  --type-scale-4: calc(
    var(--type-scale-seed) * pow(var(--type-scale-multiplier), 3)
  );
  --type-scale-5: calc(
    var(--type-scale-seed) * pow(var(--type-scale-multiplier), 4)
  );
  --type-scale-6: calc(
    var(--type-scale-seed) * pow(var(--type-scale-multiplier), 5)
  );
  --type-scale-7: calc(
    var(--type-scale-seed) * pow(var(--type-scale-multiplier), 6)
  );
  --type-scale-8: calc(
    var(--type-scale-seed) * pow(var(--type-scale-multiplier), 7)
  );
  --line-height-1: var(--spacing-3);
  --line-height-2: var(--spacing-3);
  --line-height-3: var(--spacing-4);
  --line-height-4: var(--spacing-4);
  --line-height-5: var(--spacing-6);
  --line-height-6: var(--spacing-6);
  --line-height-7: var(--spacing-8);

  --overlay-menu-width: 350px;

  --layout-gap: var(--spacing-2);
  --layout-padding: var(--spacing-3);
  --nav-bar-height: var(--spacing-8);
  --nav-bar-gap: var(--spacing-4);
  --nav-bar-padding: var(--spacing-1-5);
  --card-text-link-color: rgba(0, 127, 173, 1);
  --feature-button-color: rgba(124, 79, 248, 1);
  --feature-card-padding-row: var(--spacing-3) var(--spacing-4);
  --feature-card-padding-column: var(--spacing-4) var(--spacing-3);
  --footer-height: 296px;
  --footer-padding: var(--spacing-4) var(--spacing-6);
  --border-radius: 8px;

  --breakpoint-md: 768px;

  --baseline-grid: 8px;
  --baseline-grid-background: 7px;
  --baseline-bg-image: repeating-linear-gradient(
    180deg,
    var(--main-bg-color) 0,
    var(--main-bg-color) var(--baseline-grid-background),
    var(--test-grid-color) var(--baseline-grid)
  );
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--type-display);
  font-weight: var(--type-display-font-base-weight);
  font-style: var(--type-display-font-style);
  font-variation-settings: var(--type-display-font-variation-settings);
}

h1,
h2 {
  margin-block-start: var(--spacing-3);
  margin-block-end: var(--spacing-3);
}

h3,
h4,
h5,
h6 {
  margin-block-start: var(--spacing-2);
  margin-block-end: var(--spacing-2);
}

body {
  font-family: var(--type-text);
  font-optical-sizing: var(--type-text-font-optical-sizing);
  font-weight: var(--type-text-font-base-weight);
  font-style: var(--type-text-font-style);
  font-variation-settings: var(--type-text-font-variation-settings);
}

body,
.sb-show-main.sb-main-padded {
  background-color: var(--main-bg-color);
  font-size: var(--type-scale-1);
  line-height: var(--line-height-1);
  margin: 0 auto;
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-8);
  background-image: var(--baseline-bg-image);
}

p {
  margin-block-start: var(--spacing-2);
  margin-block-end: var(--spacing-2);
}

h1 {
  font-size: var(--type-scale-7);
  line-height: var(--line-height-7);
}
h2 {
  font-size: var(--type-scale-6);
  line-height: var(--line-height-6);
}
h3 {
  font-size: var(--type-scale-5);
  line-height: var(--line-height-5);
}
h4 {
  font-size: var(--type-scale-4);
  line-height: var(--line-height-4);
}
h5 {
  font-size: var(--type-scale-3);
  line-height: var(--line-height-3);
}
h6 {
  font-size: var(--type-scale-2);
  line-height: var(--line-height-2);
}
