.logoGrid {
  align-items: center;
  column-gap: var(--layout-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-items: center;
  row-gap: var(--layout-gap);
  min-width: calc(var(--spacing-baseline) * 16);
}

@container (min-width: 412px) {
  .logoGrid {
    column-gap: var(--spacing-4);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.logo svg {
  width: 100%;
  height: auto;
}
