.logoGrid {
  align-items: center;
  column-gap: var(--spacing-4);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  row-gap: var(--spacing-2);
  /* one column */
  min-width: calc(var(--spacing-baseline) * 16);
  height: calc(var(--spacing-baseline) * 126);
}

@media screen and (min-width: 280px) {
  /* two columns */
  .logoGrid {
    height: calc(var(--spacing-baseline) * 62);
  }
}

@media screen and (min-width: 412px) {
  /* three columns */
  .logoGrid {
    height: calc(var(--spacing-baseline) * 43);
  }
}

@media screen and (min-width: 544px) {
  /* four columns */
  .logoGrid {
    height: calc(var(--spacing-baseline) * 43);
  }
}

@media screen and (min-width: 676px) {
  /* five columns */
  .logoGrid {
    height: calc(var(--spacing-baseline) * 24);
  }
}

@media screen and (min-width: 808px) {
  /* six columns */
  .logoGrid {
    height: calc(var(--spacing-baseline) * 24);
  }
}

@media screen and (min-width: 940px) {
  /* six columns */
  .logoGrid {
    height: calc(var(--spacing-baseline) * 18);
    max-width: calc(var(--spacing-baseline) * 112);
  }
}

.logo {
  max-height: 35px;
}
